*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: black;
}

.nav{
    position: fixed;
    font-family: 'Oxanium';
    font-size: 20px;
    margin: 12px;
    padding: 10px;
    height: 8%;
    background-color: rgba(245, 245, 245,0.3);
    border: 1px solid white;
    border-radius: 20px;
    color: beige;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    width: 96.6%;
    z-index: 1;
}

ul{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 13px;
}

li{
    margin-left: 20px;
    transition: 400ms;
}

li:hover{
    color: tomato;
    font-size: 22px;
}

span{
    margin-top: 13px;
    margin-right: 20px;
    color: tomato;
}


.text{
    width: 96.6%;
    color: beige;
    position: relative;
    z-index: -1;
    top: 120px;
    text-align: center;
    margin: auto;
    border: 3px dashed whitesmoke;
    border-radius: 20px;
    padding: 10px;
}

h1{
    color: tomato; 
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Oxanium';
}